<aside class="w-36 h-screen bg-slate-950">
    <img
        class="mx-auto mt-10"
        src="assetess/logoWhite.png"
        alt="Logo da Loja"
    />

    <div class="mt-4 flex flex-col">
        <a
            class="text-white py-2 hover:text-black hover:bg-slate-50 focus:bg-slate-50 focus:text-black"
            routerLink="adm/pedidos"
            >Agendamentos</a
        >
        <a
            class="text-white py-2 hover:text-black hover:bg-slate-50 focus:bg-slate-50 focus:text-black"
            routerLink="/"
            >Pedidos</a
        >
        <a
            class="text-white py-2 hover:text-black hover:bg-slate-50 focus:bg-slate-50 focus:text-black"
            routerLink="/"
            >Configurações</a
        >
    </div>
</aside>
